
#conteiner{
    display: flex;
    justify-content: center;
}
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    height: 550px;
}
main{
    height: 550px;
    width: 500px;
    border: 2px solid blue;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#somatorios{
    display: flex;
    justify-content: space-around;
    
}

#somatorios div{
    width: 20%;
    display: flex;
    border: 1px black solid;
    flex-direction: column;
    text-align: center;
}

h3{
    font-size: 15px;
}

ul{
    border: 1px solid green;
    height: 430px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    padding-right: 30px;
    background-color: black;
}

li{
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 213px;
    width: 200px;
    border: 1px solid red;
    list-style: none;
    margin: 1px;
}

li div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}